LLMWHISPERER_API_KEY=qyfzlT-_E0UuN_pymaL4AR7yJ8Zz2TnIsuK6gSVNVu8
OPENAI_API_KEY=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